:root {
  // Transition properties
  --dsos-delay: 0ms;
  --dsos-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --dsos-duration: 800ms;

  // Visibility properties
  --dsos-opacity: 0;
  --dsos-visibility: hidden;

  // Base calculation properties
  --dsos-distance-y: 5rem;
  --dsos-distance-x: 3.5rem;
  --dsos-slide: 1.5;

  // Transfrom properties
  --dsos-translate-y: 0;
  --dsos-translate-x: 0;
  --dsos-scale: 1;
  --dsos-rotate: 0deg;
}

html:not(.no-js) {
  [data-dsos] {
    will-change: transform;

    // Transition settings
    transition-duration: var(--dsos-duration);
    transition-timing-function: var(--dsos-bezier);
    transition-delay: var(--dsos-delay);

    // Visibility properties
    opacity: var(--dsos-opacity);
    visibility: var(--dsos-visibility);

    // Transfrom properties
    translate: var(--dsos-translate-x) var(--dsos-translate-y);
    scale: var(--dsos-scale);
    rotate: var(--dsos-rotate);

    &.is-inview {
      // Visibility properties
      --dsos-opacity: 1 !important;
      --dsos-visibility: visible !important;

      // Transfrom properties
      --dsos-translate-y: 0 !important;
      --dsos-translate-x: 0 !important;
      --dsos-scale: 1 !important;
      --dsos-rotate: 0deg !important;
    }
  }

  // Fade up animation
  [data-dsos='fade-up'] {
    --dsos-translate-y: var(--dsos-distance-y);
  }

  // Fade down animation
  [data-dsos='fade-down'] {
    --dsos-translate-y: calc(0px - var(--dsos-distance-y));
  }

  // Fade Left animation
  [data-dsos='fade-left'] {
    --dsos-translate-x: var(--dsos-distance-x);
    --dsos-translate-y: 0;
  }

  // Fade right animation
  [data-dsos='fade-right'] {
    --dsos-translate-x: calc(0px - var(--dsos-distance-x));
    --dsos-translate-y: 0;
  }

  // Fade in Animation
  [data-dsos='fade-in'] {
    --dsos-translate-y: 0;
    --dsos-translate-x: 0;
  }

  // Zoom in Animation
  [data-dsos='zoom-in'] {
    --dsos-scale: 1.1;
  }

  // Slide up animation
  [data-dsos='slide-up'] {
    --dsos-opacity: 1;
    --dsos-visibility: visible;
    --dsos-translate-y: calc(var(--dsos-distance-y) * var(--dsos-slide));
  }

  // Slide down animation
  [data-dsos='slide-down'] {
    --dsos-opacity: 1;
    --dsos-visibility: visible;
    --dsos-translate-y: calc(0px - var(--dsos-distance-y) * var(--dsos-slide));
  }

  // Slide left animation
  [data-dsos='slide-left'] {
    --dsos-opacity: 1;
    --dsos-visibility: visible;
    --dsos-translate-x: calc(var(--dsos-distance-x) * var(--dsos-slide));
  }

  // Slide right animation
  [data-dsos='slide-right'] {
    --dsos-opacity: 1;
    --dsos-visibility: visible;
    --dsos-translate-y: calc(0px - var(--dsos-distance-x) * var(--dsos-slide));
  }
}
