@tailwind base;
@tailwind components;
@tailwind utilities;

.my-custom-element {
  opacity: 0;
  rotate: 45deg;
  transition: 1s ease-in-out;
}

.my-custom-element.enter {
  opacity: 1;
  rotate: 0deg;
}

html {
  scroll-behavior: smooth;
}
