$brand: 'dsos';

:root {
  // Transition properties
  --#{$brand}-delay: 0ms;
  --#{$brand}-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --#{$brand}-duration: 700ms;

  // Visibility properties
  --#{$brand}-opacity: 1;
  --#{$brand}-visibility: hidden;

  // Base calculation properties
  --#{$brand}-distance-y: 3rem;
  --#{$brand}-distance-x: 2rem;
  --#{$brand}-slide: 1.5;
  --#{$brand}-scale-ratio: 0.2;

  // Transfrom properties
  --#{$brand}-translate-y: 0;
  --#{$brand}-translate-x: 0;
  --#{$brand}-scale: 1;
  --#{$brand}-rotate: 0deg;

  // Ratio properties
  --#{$brand}-ratio: 1;
  --#{$brand}-translate-ratio: 1;
  --#{$brand}-slide-ratio: 1.5;
  --#{$brand}-scale-ratio: 0.2;

  // Amount properties
  --#{$brand}-translate-x-amount: 2rem;
  --#{$brand}-translate-y-amount: 3rem;
}

html:not(.no-js) {
  [data-#{$brand}] {
    will-change: transform;

    // Transition settings
    transition-duration: var(--#{$brand}-duration);
    transition-timing-function: var(--#{$brand}-bezier);
    transition-delay: var(--#{$brand}-delay);

    // Visibility properties
    opacity: var(--#{$brand}-opacity);
    visibility: var(--#{$brand}-visibility);

    // Transfrom properties
    translate: var(--#{$brand}-translate-x) var(--#{$brand}-translate-y);
    scale: var(--#{$brand}-scale);
    rotate: var(--#{$brand}-rotate);

    &.is-inview {
      // Visibility properties
      --#{$brand}-opacity: 1 !important;
      --#{$brand}-visibility: visible !important;

      // Transfrom properties
      --#{$brand}-translate-y: 0 !important;
      --#{$brand}-translate-x: 0 !important;
      --#{$brand}-scale: 1 !important;
      --#{$brand}-rotate: 0deg !important;
    }
  }

  @mixin calcPropOld($property, $value, $operator: '+') {
    --#{$brand}-#{$property}: calc(0px #{$operator} var(--#{$brand}-#{$value}) * var(--#{$brand}-ratio));
  }

  @mixin calcProp($property, $axis, $operator: '+') {
    --#{$brand}-#{$property}-#{$axis}: calc(0px #{$operator} var(--#{$brand}-#{$property}-#{$axis}-amount) * var(--#{$brand}-#{$property}-ratio));
  }

  // Sizes variation
  [data-#{$brand}~='small'] {
    --#{$brand}-ratio: 0.5;
  }

  [data-#{$brand}~='large'] {
    --#{$brand}-ratio: 3;
  }

  // Fade in animation
  [data-#{$brand}~='fade'] {
    --#{$brand}-opacity: 0;
  }

  // Fade up animation
  [data-#{$brand}~='up'] {
    @include calcProp('translate', 'y');
  }

  // Fade down animation
  [data-#{$brand}~='down'] {
    @include calcProp('translate', 'y', '-');
  }

  // Fade Left animation
  [data-#{$brand}~='left'] {
    @include calcProp('translate', 'x');
  }

  // Fade right animation
  [data-#{$brand}~='right'] {
    @include calcProp('translate', 'x', '-');
  }

  // Zoom in Animation
  [data-#{$brand}~='zoom-in'] {
    --#{$brand}-scale: calc(1 + var(--#{$brand}-scale-ratio));
  }

  // Zoom in Animation
  [data-#{$brand}~='zoom-out'] {
    --#{$brand}-scale: calc(1 - var(--#{$brand}-scale-ratio));
  }

  // Slide up animation
  [data-#{$brand}~='slide up'] {
    --#{$brand}-translate-y: calc(var(--#{$brand}-distance-y) * var(--#{$brand}-slide));
  }

  // Slide down animation
  [data-#{$brand}~='slide down'] {
    --#{$brand}-translate-y: calc(0px - var(--#{$brand}-distance-y) * var(--#{$brand}-slide));
  }

  // Slide left animation
  [data-#{$brand}~='slide left'] {
    --#{$brand}-translate-x: calc(var(--#{$brand}-distance-x) * var(--#{$brand}-slide));
  }

  // Slide right animation
  [data-#{$brand}~='slide right'] {
    --#{$brand}-translate-y: calc(0px - var(--#{$brand}-distance-x) * var(--#{$brand}-slide));
  }
}
